.py-5 .table .tablehead th{
    background-color: #53814F;
    color: white;
}

.clear-cart{
    background-color: #53814F;
    color: white;
}
.btn i{
    padding: 5px;
}
.clear-cart:hover{
    background-color: rgba(255, 0, 0, 0.612);
}
.remove-item i{
    font-size: 40px;
    color: rgba(255, 0, 0, 0.804);

}