.whish-list .card {
    border: none;
}

.whish-list .card .card-body{
    width: 200%;
    border: 1 px solid gray;

}
.whish-list .card .card-body .btn{
    background-color: #53814F;
    color: white;
    border-radius: 32px 32px 32px 32px ;
}
.whish-list .container  a i{
    color: white;
    padding: 5px;
}